<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2 style="text-align: center">{{note.ref}} {{note.type}} {{note.data}}</h2>
  <h4>Sopa: {{note.sopa}}</h4>
  <h4>Prato de Carne : {{note.pratoC}}</h4>
  <h4>Prato de Peixe : {{note.pratoP}}</h4>
  <h4>Prato de Opção : {{note.pratoO}}</h4>
  <h4>Sobremesa : {{note.sub}}</h4>
</ion-content>
